@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.required-note {
    color: red;
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    .user-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .account-page-header {
        text-align: center;
    }
}