@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.Gallery {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.image-view {
    border: 1px solid black;
    padding: 5px;
}

.image-view img {
    max-width: 300px;
    max-height: 400px;
}

h1 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .Gallery {
        margin-top: 15%;
    }

    .gallery-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}