* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.Gallery {
    font-family: 'didot', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.gallery-title {
    padding: 0;
    margin: 0;
}

.gallery-verbiage {
    font-size: 18px;
    margin: 0;
    width: 75vw;
    text-align: center;
}

.pagination-container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    cursor: pointer;
    padding: 0;
}

.pagination-container li:hover {
    text-decoration: underline;
}

.pagination-container .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: black;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 10px;
    line-height: 1.43;
    font-size: 18px;
    min-width: 32px;
}

.pagination-container .pagination-item.dots:hover {
    background-color: transparent;
    cursor: default;
}

.pagination-container .pagination-item.selected {
    background-color: darkred;
    color: white;
    text-decoration: none;
}

.pagination-container .pagination-item .arrow::before {
    position: relative;
    content: '';
    /* By using an em scale, the arrows will size with the font */
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid darkred;
    border-top: 0.12em solid darkred;
}

.pagination-container .pagination-item .arrow.left {
    transform: rotate(-135deg) translate(-50%);
}

.pagination-container .pagination-item .arrow.right {
    transform: rotate(45deg);
}

.pagination-container .pagination-item .arrow:hover {
    text-decoration: underline;
}

.pagination-container .pagination-item.disabled {
    pointer-events: none;
}

.pagination-container .pagination-item.disabled .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-container .pagination-item.disabled:hover {
    /* background-color: transparent; */
    cursor: default;
}

section.collage-container {
    column-count: 4;
    gap: 0;
    padding: 0 4px;
    width: 100vw;
}

img.gallery-image {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    padding: 5px;
    max-height: 600px;
    cursor: pointer;
}

.image-caption-container {
    position: absolute;
    z-index: 1;
    background-color: darkred;
    color: white;
    transform: translate(10%, -200%);
    max-width: 350px;
}

.gallery-image-caption {
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}
@media screen and (max-width: 600px) {
    .Gallery {
        margin-top: 15%;
    }

    .gallery-image-view {
        width: 85vw;
    }

    .collage-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}