@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.GalleryImageUploader {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 3%;
}

.gallery-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}