@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.asti-verbiage {
    font-size: 18px;
}

.nav-btn {
    width: 170px;
    height: 30px;
    font-size: 16px;
    background-color: darkred;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.asti-images {
    display: flex;
    justify-content: space-evenly;
}

.asti-img {
    max-height: 500px;
}

.asti-img, 
.asti-images-small {
    max-width: 400px;
}

.asti-images-small {
    display: grid;
    grid-template-columns: 1fr;
}

.asti-images-small img {
    max-width: 400px;
    max-height: 250px;
}

.asti-img-big {
    max-width: 500px;
    max-height: 500px;
}

@media screen and (max-width: 600px) {
    .Home {
        margin-top: 15%;
    }
    .asti-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}