@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.asti-verbiage {
    text-align: center;
    width: 50vw;
}

.memory-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    text-align: center;
}

.memory-form-question {
    display: flex;
    justify-content: space-evenly;
    
}

.memory-form-question input,
.memory-form-question textarea {
    margin-left: 15px;
}

.required-note {
    color: red;
    margin-left: 15px;
}

.asti-front-img {
    max-width: 500px;

}

.submit-btn {
    background-color: darkred;
    color: white;
}

.responder-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .Landing {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .memory-form-question {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .asti-verbiage {
        text-align: center;
        width: 70vw;
    }
}