@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.MemoryForm {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 3%;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.asti-verbiage {
    text-align: center;
    width: 50vw;
}

.memory-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: left;
}

.instructions {
    text-align: center;
}

.anonymous-note {
    padding: 0;
    margin: 0;
}

.memory-form-question input,
.memory-form-question textarea,
.responder-image input {
    margin-left: 15px;
}

.required-note {
    color: red;
    margin-left: 15px;
}

.submit-btn {
    background-color: darkred;
    color: white;
    width: 70px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.responder-image {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .MemoryForm {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15%;
    }

    .memory-form-question {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .asti-verbiage {
        text-align: center;
        width: 70vw;
    }
}